[submodule "deps/protobuf-c"]
	path = deps/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "deps/wolfssl"]
	path = deps/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "deps/BearSSL"]
	path = deps/BearSSL
	url = https://www.bearssl.org/git/BearSSL
[submodule "deps/uthash"]
	path = deps/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "deps/libdb"]
	path = deps/libdb
	url = https://github.com/berkeleydb/libdb.git
